{% extends "base.html" %}

{% block content %}
<h1>Muokkaa tehtävää: Testitehtävä</h1>



<form>
    <div class="form-group">
        <label>Nimi</label>
        <input class="form-control" value="Testitehtävä" type="text">
    </div>
    <div class="form-group">
        <label>Kuvaus</label>
        <input class="form-control" value="Tähän tehtävän kuvaus ja lisäinfoa" type="text">
    </div>
    <label class="control-label">Prioriteetti</label>
    <div class="form-group">
        <select type="number" name="prioriteetti" class="form-control">

            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </div>
    <div class="form-group">
        <label class="control-label">Luokat</label>
        <div class="checkbox">
            <label>
                <input type="checkbox">testiluokka1
            </label>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success">Tallenna</button>
        </div>
</form>
{% endblock %}
